* {
    box-sizing: border-box;
  }
  
  /* Add a gray background color with some padding */
  body {
    font-family: Arial;
    padding: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #8e8ec4;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: rgb(255, 255, 255);
    border-radius: 20px;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 100%;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
     border-radius: 20px;
  }
  
  
  
  