* {
    box-sizing: border-box;
  }
  
  /* Add a gray background color with some padding */
  body {
    font-family: Arial;
    padding: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #4a4e69;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: #f2e9e4;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 100%;
  }
  
  .img-floated {
    float: right;
  }
  .img {
    height: 250px;
    padding: 20px;
    display: block;
    
  }
  
  /* Add a card effect for articles */
  .card {
     background-color: #f2e9e4;
     position: relative;
     padding: 20px;
     margin-top: 20px;
     border-radius: 20px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     overflow: hidden;

  }

  .card-info {
    background-color: rgba(255, 255, 255, 0);
    margin-top: 20px;
    border-top: black solid;
    border-bottom: black solid;
    text-align: center;
  }
  
  .column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 958px) {
    .header {
        font-size: 20px;
    }

    .img {
      width: 100%;
      border: 10px #c9ada7 solid;
      border-radius: 10px;
      height: auto;
      padding: 0;
      margin-bottom: 10px;
    }

  }

  
  
  
  
  
  
  
